/BuildingBlocks/bin
/BuildingBlocks/obj
/BuildingBlocks/App.config
/BuildingBlocks/BuildingBlocks.csproj
/CircularIteration/bin
/CircularIteration/obj
/CircularIteration/App.config
/CircularIteration/CircularIteration.csproj
/Game Defination/bin
/Game Defination/obj
/Game Defination/App.config
/Game Defination/Game_Defination.csproj
/NonCircularIteration/bin
/NonCircularIteration/obj
/NonCircularIteration/App.config
/NonCircularIteration/NonCircularIteration.csproj
/Pieces/bin
/Pieces/obj
/Pieces/App.config
/Pieces/Pieces.csproj
/Primary_Queen/bin
/Primary_Queen/obj
/Primary_Queen/App.config
/Primary_Queen/Primary_Queen.csproj
/Secondary_Queen/bin
/Secondary_Queen/obj
/Secondary_Queen/App.config
/Secondary_Queen/Secondary_Queen.csproj
/Tertiary_Queen/bin
/ShootingStrategy/obj/Debug/ShootingStrategy.dll
/ShootingStrategy/obj/Debug/ShootingStrategy.pdb
/The_Queen/The_Queen.csproj
/The_Queen/bin/Debug/The_Queen.dll
/The_Queen/bin/Debug/The_Queen.pdb
 / The_Queen/obj/Debug/CoreCompileInputs.cache
/ The_Queen/obj/Debug/The_Queen.dll
/ The_Queen/obj/Debug/The_Queen.pdb
/ Pattern/Pattern.csproj
/ Pattern/obj/Debug/CoreCompileInputs.cache
/ Pattern/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ ShootingStrategy/obj/Debug/ShootingStrategy.dll
/ ShootingStrategy/obj/Debug/ShootingStrategy.pdb
/ The_Queen/The_Queen.csproj
/ The_Queen/bin/Debug/The_Queen.dll
/ The_Queen/bin/Debug/The_Queen.pdb
 / The_Queen/obj/Debug/CoreCompileInputs.cache
 / The_Queen/obj/Debug/The_Queen.dll
 /The_Queen/obj/Debug/The_Queen.pdb



/Tertiary_Queen/obj
/Tertiary_Queen/App.config
/Tertiary_Queen/Tertiary_Queen.csproj
/The Queen Code.sln
/.vs/
/To Do On Next Iteration.txt
/Errors&Mistakes.txt
/Game Defination/GameDefination.csproj
/Parents/Root.csproj
/Parents/bin/
/Parents/obj/Debug/CoreCompileInputs.cache
/Parents/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Parents/obj/Debug/Parents.csproj.FileListAbsolute.txt
/Parents/obj/Debug/Parents.csprojResolveAssemblyReference.cache
/Parents/obj/Debug/Parents.dll
/Parents/obj/Debug/Parents.pdb
/MovingStrategy/obj/Debug/CoreCompileInputs.cache
/ShootingStrategy/ShootingStrategy.csproj
/ MovingStrategy/MovingStrategy.csproj
/MovingStrategy/bin/Debug/BuildingBlocks.exe
/ MovingStrategy/bin/Debug/BuildingBlocks.pdb
/ MovingStrategy/bin/Debug/CircularIteration.exe
/MovingStrategy/bin/Debug/CircularIteration.pdb
/ MovingStrategy/bin/Debug/MovingStrategy.dll
/  MovingStrategy/bin/Debug/MovingStrategy.pdb
/MovingStrategy/bin/Debug/NonCircularIteration.exe
/ MovingStrategy/bin/Debug/NonCircularIteration.pdb
/MovingStrategy/bin/Debug/Parents.dll
/ MovingStrategy/bin/Debug/Parents.pdb
/MovingStrategy/bin/Debug/Pieces.dll
/MovingStrategy/bin/Debug/Pieces.pdb
/MovingStrategy/obj/Debug/MovingStrategy.csprojResolveAssemblyReference.cache
/ShootingStrategy/obj/Debug/ShootingStrategy.pdb
/ ShootingStrategy/obj/Debug/ShootingStrategy.dll
/ ShootingStrategy/obj/Debug/ShootingStrategy.csprojResolveAssemblyReference.cache
/ShootingStrategy/bin/Debug/ShootingStrategy.pdb
/ ShootingStrategy/bin/Debug/ShootingStrategy.dll
/ShootingStrategy/bin/Debug/Pieces.pdb
/ShootingStrategy/bin/Debug/Pieces.dll
/ ShootingStrategy/bin/Debug/Parents.pdb
/ ShootingStrategy/bin/Debug/Parents.dll




